{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 1 version", "not dead"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties"
  ]
}
